block templates
  include templates/home
  include templates/about
  include templates/gallery
  include templates/store
  include templates/sizing
  include templates/blog
  include templates/faq
  include templates/contact
