script(type='text/html', id='aboutTemplate')
  .container
    .row
      .span12
        h1 About
        hr
        p PWNY Beads is a (very) small business, started in March of 2012.  My initial reason for opening the business was to provide a wide variety of affordable, attractive replacement bracelets for the typically steel chains that come standard with most medical ID bracelets.  Having to wear a medical ID bracelet myself, I know how expensive they are, and how pricey it can be to find a fashionable replacement band to attach to the all-important tag that's engraved with potentially life-saving medical information.  
        p After starting out with the medical ID replacement bracelets, I decided to also make fashion bracelets, then necklaces, then anklets and earrings.  Next, I decided to combine my love of crocheting with my passion of jewelry design, and started making a variety of beaded crochet pieces.  Most recently, I've started making stitch markers for knitting and crocheting.
        p My business consists of me.  I'm the owner, the designer, the creator, the person with whom each customer communicates, and the one who chooses each and every bead, gemstone, finding, fiber, and component that gets used in every piece of PWNY Beads beaded designs.  The only part of the business that I do not do is the photography.  My wonderful boyfriend is kind enough to take all the photos that you see of each and every piece.
        p I hope you enjoy looking around at all the items I have available for sale!  Please keep in mind that I happily welcome any and all custom order requests, and would be happy to design a piece that is truly one-of-a-kind and uniquely you!
